.calendar-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  width: 95%;
  /* min-width: 500px; */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1.25vw 3vw;
  /* Uses viewport width units */
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.calendar-header span {
  font-size: 20px;
  font-weight: bold;
}

.horizontal-line {
  width: 63%;
  height: 1px;
  background-color: #e2e2ea;
  margin: 0 5px;
}

.calendar-header button {
  display: inline-block;
  background-size: 12px 7px;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid var(--primary);
  border-radius: 8px;
  background-color: #fff;
}

.calendar-header button:disabled {
  background-color: var(--disabled);
  border: none;
  cursor: not-allowed;
}

.day-of-week {
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #9d9492;
}

.date {
  font-size: 20px;
  color: var(--text-color-secondary);
  text-align: center;
  font-weight: 400;
  padding: 1rem;
  border-radius: 10px;
  transition: background-color 0.5s ease, color 0.3s ease;
}

.disabled-date {
  color: #cccccc;
  cursor: not-allowed;
}

.date:hover {
  background-color: var(--secondary);
  color: white;
  cursor: pointer;
}

.today {
  background-color: var(--primary);
  color: white;
}

.passed-date {
  cursor: not-allowed;
  color: #94d612;
}