.calendar-container {
  display: flex;
  flex-direction: column;
  /* font-family: Arial, sans-serif; */
  /* max-width: 350px; */
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.calendar-header span {
  font-size: 20px;
  font-weight: bold;
}

.horizontal-line {
  width: 63%; /* Or a fixed width like 2px for a vertical line */
  height: 1px; /* Adjust the thickness of the line */
  background-color: #e2e2ea; /* Color of the line */
  margin: 0 5px; /* Adjust spacing around the line */
}

.calendar-header button {
  display: inline-block;
  /* background-image: url('./images/up_arrow.png'); */
  background-size: 12px 7px;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid var(--primary);
  border-radius: 8px;
  background-color: #fff;

  /* display: inline-block;
  padding: 4.3px 10px;
  border: none;
  border: 1px solid #e2e2ea;
  font-family: Helvetica, sans-serif;
  border-radius: 5px;
  cursor: pointer;
  color: #e2e2ea;
  background-image: 'url(./images/up_arrow.png)';
  background-size: cover;
  
  font-size: 18px;
  color: var(--text-color-secondary);
  width: 32px; 
  height: 32px; */
}

.calendar-header button:disabled {
  background-color: var(--disabled);
  border: none;

  cursor: not-allowed; /* Shows a 'not-allowed' cursor on hover */
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px 46px;
}

.day-of-week {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #92929d;
}

.date {
  font-size: 20px;
  color: var(--text-color-secondary);
  text-align: center;
  font-weight: 400;
  padding: 14px;
  /* background-color: #f0f0f0; */
  border-radius: 10px;
  transition: background-color 0.3s;
}

.date:hover {
  background-color: #e0e0e0;
}

.today {
  background-color: #007bff;
  color: white;
}

.not-current-month {
  color: #cccccc; /* Gray out the color */
}
