.header {
  display: flex;
  flex-direction: row;
  padding: var(--gap);
  height: var(--height);
  align-items: center;
  background-color: var(--color-primary);
  justify-content: space-between;
 
}
@media (max-width: 768px) {
  .header {
    top: var(--height);
    
  }
}
/* .logo-container {
    display: flex;
    align-items: left;
    justify-content: center;
    outline: 1px solid red;
    height: 5vh
} */
.logo {
  /* max-height: 10rem; */
  /* Adjust as needed */
  /* width: auto; */
  /* Maintain aspect ratio */
  /* margin-left: 15px; */
  /* max-width: 100%; */
  /* Prevent logo from exceeding the header width */
}
/* .logo path {
  fill: #FF5733;
} */

@media (max-width: 768px) {
  /* .logo {
    height: 7rem
  } */
}



@media (min-width: 1024px) {
  .hidden-drawer {
    display: none;
    /* Hide Drawer on larger screens */
  }
}
