.columns-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  /* width: 1290px; */

  /* align-items: center; */
  /* justify-content: center; */
  margin: 0 50px;
}

.left-container {
  display: flex;
  width: 504px;
  flex-direction: column;
}

.right-container {
  display: flex;
  flex-direction: column;
  width: 504px;
  border-left: 1px solid #d9d9d9;
  padding-left: 90px;
  margin-left: 90px;
  /* height: 80%; */
}
.detail-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title-data {
  display: inline-block;
  font-weight: 600;
  line-height: 1.25rem;
  font-size: 1rem;
  margin-bottom: 6px;
}

.form-data {
  color: var(--text-secondary);
  margin: 0 0 16px 0;
}

.submission-or-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

button[type='submit'] {
  width: 242px;
  background-color: var(--primary);
  color: white;
  border: 1px solid var(--primary);
  border-radius: 10px;
}

button[type='button'] {
  width: 242px;
  background-color: white;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 10px;
}
