.appointment-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  min-width: 470px;
  /* outline: 1px solid #f30c0c; */
  /* padding: 1rem; */
}
.appointment-header {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem;
  /* margin-bottom: 1rem; */
  /* padding: 1rem; */
  letter-spacing: 0.1px;
}
.no-appointments-div {
  text-align: center;
  color: var(--text-secondary);
}
