.confirmation-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1290px;

  /* align-items: center; */
  /* justify-content: center; */
}

.left-container {
  display: flex;
  width: 504px;
  flex-direction: column;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 504px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* gap: 0.5rem; */
}

input[type='text'] {
  margin-top: 0.375rem;
  margin-bottom: 1rem;
  font-size: 16px;
  border: 1px solid #dae0e6;
  border-radius: 5px;
  padding: 14px 16px 14px 16px;
}

.title-consultation-method {
  display: inline-block;
  font-weight: 600;
  line-height: 1.25rem;
  font-size: 1rem;
  margin-bottom: 16px;
}

.consultation-method {
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: 5px;
}

.radio-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.radio-button-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  /* font-size: 16px; */

  /* line-height: 22px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.consultation-label {
  display: inline-block;
  margin-top: 5px;
  color: var(--text-secondary);
}

/* Hide the browser's default radio button */
.radio-button-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  /* background-color: #b49d9d; */
  border: 2px solid #c5c6cc;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-button-container:hover input ~ .checkmark {
  /* background-color: #ccc; */
  border: 2px solid #c5c6cc;
}

/* When the radio button is checked, add a blue background */
.radio-button-container input:checked ~ .checkmark {
  background-color: var(--primary);
  border: 2px solid var(--primary);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-button-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-button-container .checkmark:after {
  top: 6px;
  left: 6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.submission-or-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
}

button[type='submit'] {
  width: 242px;
  background-color: var(--primary);
  color: white;
  border: 1px solid var(--primary);
  border-radius: 10px;
}

button[type='button'] {
  width: 242px;
  background-color: white;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 10px;
}
