.form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* outline: 1px solid black; */
}


.demographics-container {
    display: flex;
    width: 504px;
    flex-direction: column;
}



.consultation-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 504px;

}



input[type="text"] {
    margin-top: 0.375rem;
    margin-bottom: 1rem;
    font-size: 16px;
    border: 1px solid #DAE0E6;
    border-radius: 5px;
    padding: 14px 16px 14px 16px
}

.section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.label {
    display: inline-block;
    font-weight: 600;
    line-height: 1.25rem;
    font-size: 1rem;
}

.consultation-method {
    display: flex;
    flex-direction: column;
    align-self: start;
    gap: 5px;
}

.radio-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


input[type="radio"] {
    margin: 5px 0;
    padding: 8px;
    font-size: 16px;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

button[type="button"] {
    background-color: #f44336;
    color: white;
}