.styled-button {
  background-color: var(--primary);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  /* padding: 12px 20px; */
  display: inline-block;
}

.styled-button:hover {
  background-color: #187cb8;
}

.styled-button:disabled {
  /* Styles for the disabled state */
  background-color: grey;
  color: darkgray;
  cursor: not-allowed;
  /* Other styles for disabled state */
}
