.footer-container {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;
  /* width: var(--content-width); */
}

@media (max-width: 1300px) {
  .footer-container {
   
    /* min-width: 98vw; */
    
  }
}

@media (min-width: 1024px) {
  .hidden-drawer {
    display: none;
  }
}
