:root {
  /* --content-width: auto; */
  --text-color: #667b8c;
  --primary: #96c7c4;
  --text-color-secondary: #112734;
  --secondary: #638e94;
  --active: #cfcfcf;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* text-align: center; */
  min-height: 100vh;
  width: 80%;

  margin: auto;
}

a {
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.05rem;
  color: var(--color-link);
  transition: color 0.3s ease;
}
a:hover {
  color: var(--color-dark);
  text-decoration: underline;
}

h1 {
  font-size: clamp(1.8rem, 1vw, 3rem);
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--color-text);
}
p {
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 400;
  margin-bottom: 1rem;
  color: var(--color-text);
}

/* @media screen and (max-width: 600px) {
  h1 {
    font-size: clamp(1rem, 5vw, 2rem);
  }
  p {
    font-size: clamp(0.5rem, 5vw, 1rem);
  }
} */
